<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<head>
		<title>Welcome WordBattle!</title>
		<link rel="stylesheet" href="./css/index.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="container">
					<div class="explain">
						WordBattle
						<span class="txt-rotate"
						data-period="1000"
						data-rotate='[ "is Cool.", "is Chill.", "is gorgeous.", "is pretty.", "is fun!" ]'>
						</span>
					</div>
					<div class="whomade">made by 2425</div>
					<div class="title" id="title">WordBattle</div>
					<div class="start-button"><a href='/roomList'>start</a></div>
			</div>
		</div>
		<script src="./js/index.js"></script>
	</body>
</html>